<a href="https://colab.research.google.com/github/karankeshav/Data_analysis/blob/main/22_feb_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.


###Ans.

In [35]:
import pandas as pd
given_num=([4,8,15,16,23,42])
pandas_series=pd.Series(given_num)
print(pandas_series)

        #OR

pan=pd.Series([4,8,15,16,23,42])
print(pan)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

###Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

###Ans.

In [36]:
var=pd.Series([1,2,3,4,5,6,7,8,9,10])
var
var.shape         #shape function of series tell us about  the shape of series

(10,)

In [37]:
var.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [38]:
var.size    # size function in series tell us how many values does series contains

10

In [39]:
var.isnull()   #it check is there any null value in series or not and give result as boolean

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [40]:
var.sort_values(ascending=False)    #sort_values sorted values in ascending or descending acc. to need

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

###Q3. Create a Pandas DataFrame that contains the following data:

Name   --------- Age--------Gender

---

Alice -----------25---------Female


Bob ------------30----------Male

Claire  --------27----------Female

Then,print the dataframe.

In [41]:
from tables import index
data=[['Alice',25,'Female'],
      ['Bob',30,'Male'],
      ['Claire',27,'Female']]

df=pd.DataFrame(data,columns=['Name','Age','Gender'])
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

###Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


###Ans.

One major difference between pandas's series and DataFrame is pandas's series is consists of one column only whereas pandas DataFrame is consist of more than one columns.And that's why data having more than one column is called DataFrame and data having one column is called Series.These Series and DataFrame can holds data of anytype.

In [42]:
series=pd.Series([1,2,3,4,5])
print(series,type(series))    # this is series having 1-D labeled array


data=[['karan',80,12,25],
      ['rahul',78,10,26],
      ['sharman',89,14,26],
      ['ruksana',78,13,27]]
dataframe=pd.DataFrame(data,columns=['name','marks','package','age'])
print(dataframe,type(dataframe))   #this is dataFrame having 2-d labeled arrray

0    1
1    2
2    3
3    4
4    5
dtype: int64 <class 'pandas.core.series.Series'>
      name  marks  package  age
0    karan     80       12   25
1    rahul     78       10   26
2  sharman     89       14   26
3  ruksana     78       13   27 <class 'pandas.core.frame.DataFrame'>

###Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

###Ans.

In [43]:
dataframe

      name  marks  package  age
0    karan     80       12   25
1    rahul     78       10   26
2  sharman     89       14   26
3  ruksana     78       13   27

In [44]:
dataframe.set_index('name')   #set_index() functions can be used when you want to make any column as index

         marks  package  age
name
karan       80       12   25
rahul       78       10   26
sharman     89       14   26
ruksana     78       13   27

In [45]:
dataframe.shape  # with th help of shape method you can find out the no. of rows and columns in a dataframe

(4, 4)

In [46]:
dataframe.size  #with help of size uou can find out the no, of values in your dataframe

16

In [47]:
dataframe.dtypes   # dtypes will provide the datatype of each column

name       object
marks       int64
package     int64
age         int64
dtype: object

In [48]:
dataframe.columns   # will provide the name of columns in your dataframe

Index(['name', 'marks', 'package', 'age'], dtype='object')

In [49]:
dataframe.info()  #info() function provide the information about dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   marks    4 non-null      int64
 2   package  4 non-null      int64
 3   age      4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 256.0+ bytes

In [50]:
dataframe.sample()  #sample() will give any row randomly as result from dataframe

      name  marks  package  age
3  ruksana     78       13   27

In [51]:
dataframe.isnull()   #isnull() function letting us know there is null value in dataframe

    name  marks  package    age
0  False  False    False  False
1  False  False    False  False
2  False  False    False  False
3  False  False    False  False

###Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


###Ans.

All pandas data structures are value-mutable(the values they contain can be altered) but not have always size-mutable.The length of a series cannot changed,but,for example ,columns can be inserted inta a dataframe

###Q7. Create a DataFrame using multiple Series. Explain with an example.

In [52]:
Name=(['Karan','Alice','Rohit','Akangsha','Sam'])
Age=([23,24,22,25,23])
Gender=(['Male','Female','Male','Female','Male'])
country=(['India','USA','Canada','India','London'])
data=pd.DataFrame([Name,Age,Gender,country],index=(['Name','Age','Gender','Country']))
data

             0       1       2         3       4
Name     Karan   Alice   Rohit  Akangsha     Sam
Age         23      24      22        25      23
Gender    Male  Female    Male    Female    Male
Country  India     USA  Canada     India  London